@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a web app built using C# ASP.NET. Users can engage after creating an account which allows them so add/edit/delete track based on their roles.</p>
